{
  "tabWidth": 2,
  "trailingComma": "es5",
  "semi": false,
  "printWidth": 120,
  "endOfLine": "auto",
  "singleQuote": false,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "(js|jsx|ts|tsx)$",
    "(png|jpeg|jpg|gif|svg)$",
    "(tailwind.css)$",
    "(.s?css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
